CREATE TABLE CRICKETER(
PLAYER_ID NUMBER PRIMARY KEY,
NAME VARCHAR2(255) NOT NULL,
AGE NUMBER CHECK (AGE>=18),
GENDER VARCHAR2(255) NULL,
CITY VARCHAR2(255) DEFAULT 'DHAKA'
);

DESC CRICKETER;

INSERT INTO CRICKETER
VALUES ('1','SHAKIB','30','MALE',DEFAULT);

INSERT INTO CRICKETER
VALUES ('3','MUSHFIQ','32','MALE',DEFAULT);


INSERT INTO CRICKETER
VALUES ('5',NULL,'29',NULL,DEFAULT);

ALTER TABLE CRICKETER 
MODIFY(CITY VARCHAR2(255) DEFAULT 'RAJSHASHI');

ALTER TABLE CRICKETER MODIFY(NAME VARCHAR2(255) NULL);

SELECT *
FROM CRICKETER;